.root {
  text-align: center;
  margin-bottom: 4rem;

  .title {
    font-size: 4.8rem;

    @media (max-width: 520px) {
      font-size: 3.2rem;
    }
  }

  span {
    font-size: 6.4rem;

    @media (max-width: 520px) {
      font-size: 4.8rem;
    }
  }
}

.description {
  font-size: 2rem;

  @media (max-width: 520px) {
    font-size: 1.6rem;
  }
}